.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

.thumb-bd {
  position: relative;
  display: block;
}

.thumb-bd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #000;
  opacity: 0.1;
}

/* 공용화장실1 */
.header .logo-area a::before,
.header .search-area .btn-submit::after,
.header .service-area a::after,
.sc-news .group-issue .link-media::after,
.sc-news .group-title .set-area .btn-set::after,
.sc-themepost .theme-head .info-area .btn-set::before,
.sc-themepost .theme-head .info-area .btn-set::after,
.sc-themepost .category-wrap .btn-nav::before,
.sc-themepost .topstory-inner .topstory-thumb .play::before,
.sc-themepost .media-thumb .play::before,
.sc-themepost .theme-title .title::after,
.sc-themepost .btn-more-wrap .ico-more::before,
.sc-sidenews .nav-area .btn-nav::before,
.gnb .weather-area .degree-box .max::before,
.gnb .btn-more::after,
.footer .notice-area .link-notice-all::after,
.sc-login .link-login .ico-naver::before,
.sc-login .link-id::before,
.sc-login .link-join::before,
.sc-news .group-title .link-newstand::before,
.sc-news .group-title .link-newstand::after  {
  background-image: url(../images/is-bg.png);
  background-repeat: no-repeat;
  background-size: 457px;
}

.sc-shop .shop-header .link-shop::before,
.sc-shop .shop-header .link-shop::after,
.sc-shop .btn-box .btn::before,
.sc-shop .group-plusdeal .title-area .link-logo::before,
.sc-shop .group-plusdeal .thumb-box .ico-one-plus::before,
.sc-shop .group-plusdeal .thumb-box:nth-child(2)::before {
  background-image: url(../images/is-bg2.png);
  background-repeat: no-repeat;
  background-size: 107px;
}

.sc-themepost .theme-item-ad .ad-compay .ad-mark::after {
  background-image: url(../images/is-bg3.png);
  background-repeat: no-repeat;
  background-size: 100px;
}

.gnb .weather-area a::before {
  background-image: url(../images/is-weather.png);
  background-repeat: no-repeat;
  background-size: 215px;
}

/* 공용화장실2 */