@import './reset.css';
@import './common.css';

/* header */
.header {}
.header .group-flex{
  position: relative;
  width: 1130px;
  height: 160px;
  /* background: #f00; */
  margin: 0 auto;
}

/* b-e-m */
.header .logo-area {
  position: absolute;
  top: 50%;
  left: -9px;
  margin-top: -32px;
}
.header .logo-area a {
  display: block;
}
.header .logo-area a::before {
  content: '';
  display: block;
  width: 222px; height: 52px;
  background-position: 0 -158px;
}

.header .search-area {
  position: absolute;
  top: 50%;
  left: 268px;
  margin-top: -28px;
}
.header .search-area .inner {
  position: relative;
  width: 582px;
  height: 52px;
  border: 2px solid #19ce60;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header .search-area .input-text {
  width: 444px;
  height: 24px;
  padding: 13px 15px;
  margin: 1px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  outline: 0;
}
.header .search-area .btn-submit {
  position: absolute;
  top: -2px; right: -2px;
  width: 56px; height: 56px;
  background: #19ce60;
  border-radius: 0 2px 2px 0;
}
.header .search-area .btn-submit::after {
  content: '';
  width: 22px; height: 22px;
  display: inline-block;
  vertical-align: top;
  background-position: -420px 0;
}

.header .service-area {
  position: absolute;
  top: 12px;
  right: 27px;
  display: flex;
}
.header .service-area .bar {
  width: 1px; height: 10px;
  background: #ccc;
  margin: 3px 7px;
}
.header .service-area .link-start::after {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: -308px -345px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: '';
  margin: -3px 0 0 3px;
}
.header .service-area .link-junior::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 10px;
  background-position: -262px -330px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px;
}
.header .service-area .link-bin::after {
  content: '';
  display: inline-block;
  width: 34px;
  height: 11px;
  background-position: -369px -299px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px 3px 2px;
}

.gnb{
  border-top: 1px solid #e4e8eb;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.gnb .group-gnb {
  position: relative;
  width: 1130px;
  margin: 0 auto;
}
.gnb .gnb-area {
  display: flex;
  align-items: center;
  position: relative;
  padding: 11px 270px 11px 0;
}
.gnb .gnb-list {
  display: flex;
  gap: 12px;
}
.gnb .gnb-list + .gnb-list {
  margin-left: 12px;
}
.gnb .type-fix .link-nav {
  color: #19ce60;
}
.gnb .gnb-item {
  line-height: 30px;
}
.gnb .gnb-item .link-nav {
  font-weight: bold;
  font-size: 15px;
}
.gnb .btn-more {
  margin-left: 17px;
  font-size: 13px;
  color: #202020;
  text-align: right;
}
.gnb .btn-more::after {
  display: inline-block;
  width: 11px;
  height: 7px;
  background-position: -444px -339px;
  vertical-align: top;
  content: '';
  margin-left: 7px;
  vertical-align: 2px;
}
.gnb .weather-area {
  position: absolute;
  top: 0; right: 0;
}
.gnb .weather-area a {
  display: flex;
  max-width: 100%;
  padding: 12px 0 11px;
  font-size: 13px;
  line-height: 29px;
  vertical-align: top;
}
.gnb .weather-area a::before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-right: 9px;
  background-position: -31px -124px;
  background-repeat: no-repeat;
  vertical-align: top;
}
.gnb .weather-area .current-box {}
.gnb .weather-area .current-box strong {
  font-size: 15px;
  font-weight: bold;
  vertical-align: top;
}
.gnb .weather-area .current-box .current {}
.gnb .weather-area .current-box .state {
  margin-left: 5px;
}
.gnb .weather-area .degree-box {
  margin-left: 9px;
}
.gnb .weather-area .degree-box span {}
.gnb .weather-area .degree-box .min {
  color: #2586ee;
}
.gnb .weather-area .degree-box .max {
  color: #e9564a;
}
.gnb .weather-area .degree-box .max::before {
  display: inline-block;
  width: 5px;
  height: 11px;
  background-position: -444px -392px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: '';
  margin: 0 3px;
  vertical-align: -1px;
}
.gnb .weather-area .location {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-left: 9px;
  font-size: 12px;
  color: grey;
  text-align: right;
}

/* container */
.wrapper {
  min-width: 1190px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 1130px;
  margin: 0 auto;
  padding: 20px 0px;
}

/* footer */
.footer {
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
}
.footer .inner {
  width: 1130px;
  padding: 0 0 92px;
  margin: 0 auto;
}
.footer .banner-area {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 24px 0;
  border-bottom: 1px solid #e4e8eb;
}
.footer .banner-area .link-banner {
  display: flex;
}
.footer .banner-area .link-banner:hover strong {
  text-decoration: underline;
}
.footer .banner-area .banner-thumb {
  position: relative;
  width: 160px;
  height: 86px;
}
.footer .banner-area .banner-thumb img {}
.footer .banner-area .banner-info {
  display: flex;
  flex-direction: column;
  height: 86px;
  padding: 2px 2px 0 16px;
  font-size: 12px;
  line-height: 1.25;
  box-sizing: border-box;
  text-align: left;
}
.footer .banner-area .banner-info em {
  display: block;
  overflow: hidden;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #58c464;
  white-space: nowrap;
}
.footer .banner-area .banner-info strong {
  display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
.footer .banner-area .banner-info p {
  overflow: hidden;
  margin-top: 8px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #424242;
  white-space: nowrap;
}

.footer .notice-area {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 15px;
  border-bottom: 1px solid #e4e8eb;
}
.footer .notice-area a:hover {
  text-decoration: underline;
}
.footer .notice-wrap {
  display: flex;
}
.footer .notice-wrap h3 {
  margin-right: 13px;
  font-weight: bold;
  color: #202020;
}
.footer .notice-wrap .notice-msg{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 600px;
  color: #777;
}
.footer .notice-area .link-notice-all {
  font-weight: 700;
  color: #202020;
}
.footer .notice-area .link-notice-all::after {
  display: inline-block;
  width: 8px;
  height: 12px;
  background-position: -444px -268px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: '';
  margin-left: 10px;
  vertical-align: -2px;
}
.footer .aside-area {
  display: flex;
}
.footer .partners-box-wrap {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 780px;
  padding: 20px 0;
}
.footer .partners-box-wrap .partners-box {
  display: flex;
}
.footer .partners-box-wrap .partners-box h3 {
  width: 87px;
  font-weight: bold;
}
.footer .partners-box-wrap .partners-box a{
  color: #777;
}
.footer .partners-box-wrap .partners-box a + a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e4e8eb;
  vertical-align: -1px;
  margin: 0 8px;
}
.footer .service-wrap {
  display: flex;
  gap: 50px;
  flex: 1;
  padding: 28px 0;
}
.footer .service-box {
  display: flex;
  align-items: center;
}
.footer .service-box .service-info {}
.footer .service-box .service-info strong {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
    font-weight: bold;
}
.footer .service-box .service-info a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-top: 2px;
  color: grey;
}
.footer .service-box .service-logo {
  margin-left: 12px;
  width: 48px; height: 48px;
}
.footer .service-box .service-logo img {}

.footer .corp-area {
  display: flex;
  padding-top: 25px;
}
.footer .corp-area .corp-list {
  display: flex;
  margin-right: 13px;
}
.footer .corp-area .corp-item {
  color: #777;
}
.footer .corp-area .corp-item + .corp-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 8px;
  background-color: #e4e8eb;
  vertical-align: -1px;
}
.footer .corp-area a:hover {
  text-decoration: underline;
}
.footer .corp-area .corp-item strong {
  font-weight: bold;
}
.footer .corp-area .link-addr {
  color: #202020;
  font-weight: 700;
}